$gap: 48px;

.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(2, 200px);
  gap: $gap;
  padding-bottom: $gap;

  &__card {
    display: grid;
    justify-items: center;
    align-items: center;

    height: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}
